@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: Comfortaa;
    src: url("../assets/fonts/Comfortaa-VariableFont_wght.ttf");
}
body {
    margin: 0;
    font-family: Comfortaa, Helvetica, sans-serif;
}
.button-main {
    background-color: #f6a117;
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    border-radius: 30px;
    display: inline-block;
}
.button-plain {
    color: #f6a117;
    display: inline-block;
    font-style: italic;
}