#big-video {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
}
#big-video video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
#big-video .caption {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    color: white;
    padding: 60px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.caption h1 {
    font-size: 65px;
    font-family: Montserrat, Helvetica, sans-serif;
}
#about h3 {
    font-size: 30px;
    font-family: Montserrat, Helvetica, sans-serif;
}

#about {
    padding: 40px 0;
}
#title-services-boxes {
    text-align: center;
}
#services-boxes-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
#services-boxes-flex p {
    color: white;
}
.services-box {
    width: calc(45% - 40px);
    padding: 20px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.services-box-subtitle {
    font-size: 15px;
    margin-bottom: 10px;
}
.services-box-title {
    font-size: 30px;
    margin: 0;
}
.services-box button {
    position: absolute;
    background-color: white;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: Comfortaa, Helvetica, sans-serif;
}
#services-boxes-flex img {
    width: 5%;
    object-fit: contain;
}
#services-boxes-flex-l {
    background: linear-gradient(transparent, #0000003a), url("../assets/images/services-1.jpg") center/cover;
}
#services-boxes-flex-r {
    background: linear-gradient(transparent, #0000003a), url("../assets/images/services-2.jpg") center/cover;
}
.sectors-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0;
    padding: 0 5%;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sectors-container::-webkit-scrollbar {
    display: none;
}
.sector-card {
    min-width: 30%;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: background 0.2s;
}
.sector-card p {
    color: white;
    margin: 0;
    font-size: 30px;
}
.sector-card a {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    display: block;
    padding: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s;
}
.sector-card a i {
    margin-right: 8px;
    margin-left: 3px;
}
.sector-card:hover a {
    width: 145px;
}
#sector-card-1 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/sector-3.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
}
#sector-card-1:hover {
    background-size: auto 105%;
}
#sector-card-2 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/sector-4.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
}
#sector-card-2:hover {
    background-size: auto 105%;
}
#sector-card-3 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/services-2.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
}
#sector-card-3:hover {
    background-size: auto 105%;
}
#sector-card-4 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/sector-2.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
}
#sector-card-4:hover {
    background-size: auto 105%;
}
#sector-card-5 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/sector-1.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
}
#sector-card-5:hover {
    background-size: auto 105%;
}
#sector-card-6 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/sector-2.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
}
#sector-card-6:hover {
    background-size: auto 105%;
}

#sector-title {
    margin: 50px auto 30px auto;
    width: 90%;
}
#sector-title h2 {
    font-size: 40px;
    margin: 0;
}
#sector-title p {
    margin-top: 10px;
}

#scope {
    text-align: center;
    padding: 100px 0;
    background-color: #f1f1f1;
}
#scope h2 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #f6a117;
    font-size: 40px;
    font-weight: 400;
}
#scope-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.scope-box {
    display: flex;
    flex-direction: column;
    width: 19%;
    border-right: 2px solid #f1f1f1;
}
.scope-box img {
    width: 70%;
    margin: auto;
    max-height: 100px;
    object-fit: contain;
}
#scope-box-last {
    border-right: none !important;
}

#whocontainer {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}
#whocontainer img {
    width: 55%;
    height: 100%;
    object-fit: cover;
}
#whocontainer div {
    width: calc(40% - 20px);
    padding-left: 5%;
    padding-right: 20px;
    background-color: #FFECCC;
    align-content: center;
}
#whocontainer h2 {
    font-size: 40px;
    margin: 0;
}
#who-overtitle {
    border-left: 3px solid #f6a117;
    padding-left: 10px;
}
#case-history {
    width: 100%;
}
#case-history img {
    width: 100%;
}
#subtitle-services-boxes {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}

.zzimg {
    width: 100%;
    margin: 0;
}

#ch {
    width: 90%;
    margin: 90px auto;
}
#ch h2 {
    font-size: 40px;
}
#ch-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
    height: 600px;
}
#ch-left {
    background-color: #ebebeb;
    width: calc(40% - 40px);
    padding: 20px;
    position: relative;
}
#ch-left-uptitle {
    border-left: 3px solid #f6a117;
    padding-left: 10px;
}
#ch-left-title {
    font-size: 25px;
}
#ch-left-indicators {
    background-color: #f6a117;
    border-radius: 20px;
    width: fit-content;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#ch-left-counter {
    color: white;
    margin: 0 20px;
    line-height: 35px;
}
.ch-left-arrows {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
#ch-right {
    width: 60%;
    background-image: url("../assets/images/case-history/1.jpg");
    background-size: cover;
    background-position: center;
}

#contacts {
    width: 90%;
    padding: 40px 5%;
    margin-top: 110px;
    background-color: #FFECCC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#contacts-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contacts-left h2 {
    font-size: 40px;
    margin: 0;
}
#contacts-container {
    width: 50%;
}
.contacts-item {
    margin-bottom: 50px;
}
#contacts-item-bottom {
    margin-bottom: 0 !important;
}
.contacts-item-cont {
    font-size: 20px;
}
.contacts-item-sub {
    border-left: 3px solid #f6a117;
    padding-left: 10px;
}