#big-video {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
}
#big-video video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
#big-video .caption {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    color: white;
    padding: 60px 20px 0 20px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
#big-video a {
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 58px;
}
.caption h1 {
    font-size: 65px;
    font-family: Montserrat, Helvetica, sans-serif;
}
#about h3 {
    font-size: 30px;
    font-family: Montserrat, Helvetica, sans-serif;
}

#about {
    padding: 40px 0;
}
#title-services-boxes {
    text-align: center;
}
#services-boxes-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
#services-boxes-flex p {
    color: white;
}
.services-box {
    width: calc(45% - 40px);
    padding: 20px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: background 0.2s;
}
.services-box-subtitle {
    font-size: 15px;
    margin-bottom: 10px;
}
.services-box-title {
    font-size: 30px;
    margin: 0;
}
.services-box a {
    position: absolute;
    background-color: white;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: black;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    font-family: Comfortaa, Helvetica, sans-serif;
}
#services-boxes-flex-l {
    background: url("../assets/images/services-1.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
}
#services-boxes-flex-l:hover {
    background-size: auto 105%;
}
#services-boxes-flex-r {
    background: url("../assets/images/30.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
}
#services-boxes-flex-r:hover {
    background-size: auto 105%;
}
.sectors-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0;
    padding: 0 5%;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sectors-container::-webkit-scrollbar {
    display: none;
}
.sector-card {
    min-width: 30%;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: background 0.2s;
}
.sector-card p {
    color: white;
    margin: 0;
    font-size: 30px;
}
.sector-card button {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    display: block;
    padding: 12px 10px;
    line-height: 16px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s;
    border: none;
    font-family: Comfortaa, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.sector-card button i {
    margin-right: 8px;
    margin-left: 3px;
}
.sector-card:hover button {
    width: 165px;
}
#sector-card-1 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/2.jpg") center/cover;
    background-size: 100% auto;
    background-position: center;
}
#sector-card-1:hover {
    background-size: 105% auto;
}
#sector-card-2 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/4.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
}
#sector-card-2:hover {
    background-size: auto 105%;
}
#sector-card-3 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/7.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
}
#sector-card-3:hover {
    background-size: auto 105%;
}
#sector-card-4 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/33.jpg") center/cover;
    background-size: 100% auto;
    background-position: center;
}
#sector-card-4:hover {
    background-size: 105% auto;
}
#sector-card-5 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/sector-1.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
}
#sector-card-5:hover {
    background-size: auto 105%;
}
#sector-card-6 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/19.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
}
#sector-card-6:hover {
    background-size: auto 105%;
}
#sector-card-7 {
    background: linear-gradient(transparent, #0000009d), url("../assets/images/35.jpg") center/cover;
    background-size: auto 100%;
    background-position: center;
}
#sector-card-7:hover {
    background-size: auto 105%;
}

#sector-title {
    margin: 50px auto 30px auto;
    width: 90%;
}
#sector-title h2 {
    font-size: 40px;
    margin: 0;
}
#sector-title p {
    margin-top: 10px;
}

#scope {
    text-align: center;
    padding: 100px 0;
    background-color: #f1f1f1;
}
#scope h2 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #f6a117;
    font-size: 40px;
    font-weight: 400;
}
#scope-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.scope-box {
    display: flex;
    flex-direction: column;
    width: 19%;
    border-right: 2px solid #f1f1f1;
}
.scope-box img {
    width: 70%;
    margin: auto;
    max-height: 100px;
    object-fit: contain;
}
#scope-box-last {
    border-right: none !important;
}

#whocontainer {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}
#whocontainer img {
    width: 55%;
    height: 100%;
    object-fit: cover;
}
#whocontainer div {
    width: calc(40% - 20px);
    padding-left: 5%;
    padding-right: 20px;
    background-color: #FFECCC;
    align-content: center;
}
#whocontainer h2 {
    font-size: 40px;
    margin: 0;
}
#who-overtitle {
    border-left: 3px solid #f6a117;
    padding-left: 10px;
}
#case-history {
    width: 100%;
}
#case-history img {
    width: 100%;
}
#subtitle-services-boxes {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}

.zzimg {
    width: 100%;
    margin: 0;
}

.ch {
    width: 90%;
    margin: 90px auto;
}
.ch h2 {
    font-size: 40px;
}
.ch-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
    height: 600px;
    width: 100%;
}
.ch-left {
    background-color: #ebebeb;
    width: calc(40% - 40px);
    padding: 20px;
    position: relative;
}
.ch-left-uptitle {
    border-left: 3px solid #f6a117;
    padding-left: 10px;
}
.ch-left-title {
    font-size: 25px;
}
.ch-left-indicators {
    background-color: #f6a117;
    border-radius: 20px;
    width: fit-content;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.ch-left-counter {
    color: white;
    margin: 0 20px;
    line-height: 35px;
}
.ch-left-arrows {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.ch-right {
    width: 60%;
    background-image: url("../assets/images/case-history/1.webp");
    background-size: cover;
    background-position: center;
}

#contacts {
    width: 90%;
    padding: 40px 5%;
    margin-top: 110px;
    background-color: #FFECCC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#contacts-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contacts-left h2 {
    font-size: 40px;
    margin: 0;
}
#contacts-container {
    width: 50%;
}
.contacts-item {
    margin-bottom: 50px;
}
#contacts-item-bottom {
    margin-bottom: 0 !important;
}
.contacts-item-cont {
    font-size: 20px;
}
.contacts-item-sub {
    border-left: 3px solid #f6a117;
    padding-left: 10px;
}

/* Hidden slideshow */
#ch-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
#ch-popup-cont {
    width: 80%;
    height: 60%;
}
#ch-popup-left {
    width: 40%;
}
#ch-popup-right {
    width: 60%;
    height: 100%;
}
#ch-popup-category {
    background-color: #f6a117;
    color: white;
    width: fit-content;
    padding: 12px 15px 10px 15px;
    border-radius: 20px;
}
#ch-popup-close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    #contacts {
        flex-direction: column;
    }
    #contacts-left {
        width: 100%;
        text-align: center;
    }
    #contacts-left a {
        margin: 0 auto 30px auto;
    }
    #contacts-container {
        width: 100%;
        text-align: center;
    }
    .contacts-item-sub {
        margin: 30px auto 0 auto;
        width: fit-content;
    }
    #ch-cont {
        flex-direction: column-reverse;
    }
    #ch-left {
        width: 100%;
    }
    #ch-left-indicators {
        position: relative;
        left: 0;
        bottom: 0;
    }
    #ch-right {
        width: 100%;
        height: 100%;
    }
    #title-services-boxes {
        margin-bottom: 10px;
    }
    #subtitle-services-boxes {
        font-size: 20px;
    }
    #services-boxes-flex {
        flex-direction: column;
    }
    .services-box {
        width: 90%;
        margin: 10px auto;
        height: 230px;
    }
    #whocontainer {
        flex-direction: column-reverse;
        height: fit-content;
    }
    #whocontainer div {
        width: 90%;
        padding: 30px 5%;
    }
    #whocontainer img {
        width: 100%;
    }
}