nav {
    position: sticky;
    top: 0;
    height: 60px;
    padding: 10px 5%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav img {
    height: 40px;
     margin: 10px auto;
}

nav a {
    text-decoration: none;
    line-height: 60px;
    color: black;
    margin-left: 15px;
}